@{
    ViewData["Title"] = "Check Box";
}
<h1>Check Box</h1>
<form method="post">
    <input type="checkbox" name="isSelected" value="true" /><label>&nbsp;isSelected</label> 
    <br />
    <input class="btn btn-light col-md-auto" style="display: inline;" type="submit" value="Submit" />
</form>