
@{
    ViewData["Title"] = "Hello Mockups";
}
<h1>Mockups</h1>
<br />
<ul>
    <li>
        <h4>
            <a href="/Quiz/quiz">Quiz</a>
        </h4>
    </li>
    <li>
        <h4>
            <a href="/Quiz/quizResult">QuizResult</a>
        </h4>
    </li>
</ul>

